openapi: 3.2.0
info:
  title: ParkWhiz / Arrive API v4 Tickets API
  description: The ParkWhiz v4 REST API powers parking discovery, reservation, and payment for the ParkWhiz and BestParking consumer products and for approved integration partners.
  version: '4.0'
  contact:
    name: ParkWhiz Developer Support
    url: https://developer.parkwhiz.com/
    email: dev@parkwhiz.com
  x-logo:
    url: https://kinlane-images.s3.amazonaws.com/shared/apis-json/apis-json-logo.jpg
servers:
- url: https://api.parkwhiz.com/v4
  description: Production
- url: https://api-sandbox.parkwhiz.com/v4
  description: Sandbox
- url: https://api.arrive.com/v4
  description: Production (Arrive-branded host)
security:
- oauth2: []
tags:
- name: Tickets
  description: Drive-up parking transactions, violations, and payment.
paths:
  /tickets:
    post:
      operationId: createTicket
      tags:
      - Tickets
      summary: Create a ticket
      description: Create a drive-up parking transaction or violation record.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Ticket'
      responses:
        '201':
          description: The created ticket.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'
  /tickets/previews:
    post:
      operationId: previewTicket
      tags:
      - Tickets
      summary: Preview a ticket payment
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Ticket'
      responses:
        '200':
          description: A ticket price preview.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'
  /tickets/{ticket_id}/pay:
    post:
      operationId: payTicket
      tags:
      - Tickets
      summary: Pay a ticket
      parameters:
      - name: ticket_id
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: The paid ticket.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Ticket'
components:
  schemas:
    Ticket:
      type: object
      properties:
        id:
          type: integer
        location_id:
          type: integer
        status:
          type: string
          example: open
        price:
          $ref: '#/components/schemas/Price'
        vehicle:
          $ref: '#/components/schemas/Vehicle'
    Price:
      type: object
      properties:
        currency:
          type: string
          example: USD
        amount:
          type: number
          format: float
        formatted:
          type: string
          example: $12.00
    Vehicle:
      type: object
      properties:
        id:
          type: integer
        make:
          type: string
        model:
          type: string
        color:
          type: string
        license_plate:
          type: string
        license_plate_state:
          type: string
  securitySchemes:
    oauth2:
      type: oauth2
      description: 'OAuth 2.0. Partner credentials (client_id, client_secret, redirect_uri) are issued by ParkWhiz to approved partners. Scopes: public (default), partner, mobile, internal, data.'
      flows:
        clientCredentials:
          tokenUrl: https://api.parkwhiz.com/v4/oauth/token
          scopes:
            public: Default read access to public resources.
            partner: Partner-level access to bookable inventory and bookings.
            data: Access to resources restricted by data licensing.
        authorizationCode:
          authorizationUrl: https://api.parkwhiz.com/v4/oauth/authorize
          tokenUrl: https://api.parkwhiz.com/v4/oauth/token
          scopes:
            public: Default read access to public resources.
            mobile: Mobile app user access.
